$red-color: rgb(235, 77, 76);
$dark-grey-color: rgb(90, 90, 90);
$light-grey-color: rgb(217, 217, 217);

body{
    font-family: 'Lato', sans-serif;
}

/* Game Buttons */
.game-button {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    p {
        color: $dark-grey-color;
        font-weight: 300;
        font-size: 1.2rem;
        margin: 0;
    }
    .bi {
        color: $red-color;
        width: 2rem;
        margin-right: 10px;
    }
}

.row-newGame {
    margin-top: 3%;
    margin-bottom: 7%;
}

.low-game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* END of Game Buttons */

/* Player with Global Score and Current Cursor */
.row-currentScores, .row-globalScores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

.player, .roundScoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerTitleCursor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .currentPlayerCursor {
        margin-left: 20px;
    }
}

.currentPlayerCursor {
    color: white;
}

.playerTitle {
    font-weight: 300;
    margin: 0;
}

.globalScore {
    color: $red-color;
    font-size: 4rem;
    font-weight: 200;
}
/* END of Player with Global Score and Current Cursor */

/* Current Score */
.roundScoreBox {
    background: $red-color;
    padding: 10px 20px 5px 20px;
}

.roundScoreTitle {
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
}

.roundScore {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}
/* END of Current Score */

/* Dice Box */
.diceBox {
    align-self: end;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(213, 211, 214);
    background: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .row-dice {
        display: none;
        justify-content: space-between;
    }
    svg {
        color: white;
    }
}
/* END of Dice Box */

/* Modal Window */
.modal-title {
    color: $red-color;
}

.modal p {
    text-align: center;
}

.modal .btn {
    background: $red-color;
    border: $red-color;
    color: white;
}
/* END of Modal Window */


@media screen and (min-width: 350px) and (max-width: 500px) {
    /* Reduce font size and dice box size for resolution between 350px and 500px */
    html {
        font-size: 12px;
    }
    .diceBox {
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (max-width: 349px) {
    /* Reduce font size and dice box size for resolution below 350px */
    html {
        font-size: 9px;
    }
    .diceBox {
        width: 20vw;
        height: 20vw;
    }
}
